# CONFIGURACOES TWITTER
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_KEY=
TWITTER_ACCESS_SECRET=

# BROKER CELERY
BROKER=amqp://guest@rabbitmq/

# REDIS
REDIS_HOST=redis

# DADOS DO PROCESSADOR
PROCESSOR_HOW_MANY_WORKERS=5
PROCESSOR_HOW_MANY_TASKS=1000

# Qual conjunto de dados iremos usar agora
DATASET=futebol